.pricing {
  // component parent
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-header {
  color: #009A88;
  margin: 32px 0 16px;
  font-weight: bold;
  font-size: 32px;
}

.newsfeed_tabs{
  cursor: pointer;
}
.card-container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 60px;

  @media (max-width: 925px) {
    // Stack cards
    flex-direction: column;
  }
}

.pricing-table{
  // max-width: 1040px;
  margin: 64px auto;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.16);
  border-radius: 3px;
  text-align: center;
  th{
    font-size: 16px;
    font-weight: normal;
    padding: 8px 48px;
    @media (max-width: 720px) {
      padding: 16px;
    }
  }
  td{
    font-size: 16px;
    font-weight: normal;
    padding: 8px 48px;
    @media (max-width: 720px) {
      padding: 16px;
    }
    border-right: 1px solid #009A88;;
  }
  th:nth-child(1){
    text-align: left;
  }
  .coming_soon{
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #009A88;
  }
}

.pricing-header-text{
  font-weight: bold !important;
  color: #009A88;
  font-size: 24px !important;
  padding: 12px 80px 12px !important;
  position: relative;
}
.offer{
  padding: 12px 130px 12px 50px !important;
}
.offer-indo{
  padding: 12px 148px 12px 50px !important;
}
.free{
  padding: 12px 30px 12px !important;
}
.offer-price
{
  color: #7829F9;
  font-size: 16px;
  position: absolute;
  top: 20%;
  right: 0px;
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 600;
  text-decoration-line: underline;
  text-align: left;
  padding-right: 8px;
}

.pricing-table-logo{
  width: 25px;
  margin: auto;
}

.buy_button{
  background-color: #009A88;
  color: #fff;
  padding: 8px 24px;
  border-radius: 6px;
  display: inline-block;
}

.features_row{
  margin-bottom: 16px;
}

.bold{
  font-weight: bold !important;
}

.amount-slash {
  text-decoration: none;
  position: relative;
  max-width: 160px;
  margin: auto;
  &:before {
    content: " ";
    display: block;
    width: 100%;
    border-top: 2px solid #000;
    height: 12px;
    position: absolute;
    bottom: 16px;
    left: 0;
    transform: rotate(-180deg);
  }
}

.newsfeed_tabs{
  background: #F8F8F8;
  border: 1px solid #E7ECEB;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  width: 480px;
  margin-top: 24px;
  font-size: 18px;
  .active {
    background: #FFFFFF;
    border: 1px solid #EEF0F2;
    box-sizing: border-box;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-weight: bold;
  }
}

.rupee{
  font-family:sans-serif ;
}