.ucard{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-bottom: 5rem;
    width: 25rem;
    box-shadow: rgb(0 0 0 / 8%) 0px 10px 28px;
}

.ucard div{
    /* border: 2px solid black; */
    padding:20px 20px;
}
.ucard img{
    border-radius: 7px 7px 0px 0px;
}

@media(max-width:400px){
    .ucard{
        width: 15rem;
    }
}